@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados adicionales */
:root {
  --text-highlight: #1F1F1F;
  --text-primary: #3D3D3D;
  --surface: #F8F8F8;
}

/* Loading spinner */
.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.h-page-title {
  color: var(--text-highlight, #1F1F1F);
  font-family: "Lucida Console", monospace;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;      
  letter-spacing: -0.36px;
}

/* Section Title ("Contract Summary") */
.h-section-title {
  color: var(--text-primary, #3D3D3D);
  font-family: "Lucida Console", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;        /* 24px */
  letter-spacing: -0.2px;
}

/* Section Title ("Overview") – por ejemplo para los títulos del accordion */
.h-subsection-title {
  color: var(--text-primary, #3D3D3D);
  font-family: "Lucida Console", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;        
}