@using BlazorApp.Constants

<header class="flex flex-col gap-2" role="banner">
    <div class="flex items-center gap-3 mb-4">
        <img src="@AppConstants.Icons.Logo" alt="@AppConstants.AriaLabels.CompanyLogo" width="120" height="40"
            class="h-10 w-auto" loading="eager" />
        <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
    </div>
    <div class="bg-gray-50 border-t border-gray-200 pl-2 py-5">
        <h1 class="@AppConstants.CssClasses.PageTitle">
            Contract Onboarding
        </h1>
    </div>
</header>