@page "/"
@using BlazorApp.components.Accordion
@using BlazorApp.components.ContractOnboardingHeader

<div class="max-w-[1400px] mx-auto px-5 py-10">
    <ContractOnboardingHeader />
    <section class="flex flex-col gap-8 w-full h-auto p-3">
        <h2 class="h-section-title">
            Contract Summary</h2>
        <div class="grid grid-cols-2 md:grid-cols-2 gap-6 items-start max-lg:gap-5 max-md:grid-cols-1 max-md:gap-4">
            <Accordion Title="Overview" Items="OverviewItems" />
            <Accordion Title="Overview" Items="OverviewItems2" />


        </div>
    </section>
</div>

@code {
    private List<ContractSummaryItem> OverviewItems = new()
{
new() { Label = "Contract Type", Value = "Existing Client – New Business" },
new() { Label = "Commodity", Value = "Power" },
new() { Label = "Country", Value = "France", Icon = "icons/FR.svg" },
new() { Label = "Signature Date", Value = "26/04/2023" },
new() { Label = "Period", Value = "01/01/2023 – 31/12/2027" }
};

    private List<ContractSummaryItem> OverviewItems2 = new()
{
new() { Label = "Contract Type", Value = "Existing Client – New Business" },
new() { Label = "Commodity", Value = "Power" },
new() { Label = "Country", Value = "France", Icon = "icons/FR.svg" },
new() { Label = "Signature Date", Value = "26/04/2023" },
new() { Label = "Period", Value = "01/01/2023 – 31/12/2027" }
};
}