/* Accordion.razor.css */

/* Fondo del contenedor del componente */
.accordion-root {
  background: var(--surface, #f8f8f8);
  display: grid;
  padding: 8px;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

/* Texto bold */
.accordion-text-bold {
  color: var(--text-primary, #3d3d3d);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Texto normal */
.accordion-text-regular {
  color: var(--text-primary, #3d3d3d);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expanded {
  transform: rotate(0deg);
}
.collapsed {
  transform: rotate(180deg);
}
